<div class="row">
    <div class="col-md-12">
        <div class="choose-process">
            <a href="/upload" class="btn btn-primary btn-lg">
                <i class="material-icons">
                    build
                </i>
                <p>Upload Image</p>
                <ul>
                    <li>Delete All images</li>
                    <li>Change and Update settings</li>
                    <li>Upload Batch Images</li>
                </ul>
            </a>
            <a href="/processed" class="btn btn-success btn-lg">
                <i class="material-icons">
                    view_carousel
                </i>
                <p>View Existing Images</p>
                <ul>
                    <li>View Processed images</li>
                    <li>Crop and Adjust images</li>
                </ul>
            </a>
            <a href="/cloud" class="btn btn-dark btn-lg">
                <i class="material-icons">
                    cloud_upload
                </i>
                <p>Push to Cloud</p>
                <ul>
                    <li>Choose Cloud service</li>
                    <li>Upload images batch to cloud</li>
                </ul>
            </a>
        </div>
    </div>
</div>
<hr>