<form id="settingform" class="form-horizontal" action="{{settingsapi}}" method="post">
    <fieldset>
        <div class="form-group row">
            <div class="col-md-12">
                <textarea id="settings" name="settings" rows="20" cols="60">{{breakpoints}}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5">
                <input class="btn btn-primary" type="submit" value="Save setting">
            </div>
        </div>
    </fieldset>
</form>