<div class="row mt-2">
    <div class="col-md-6">
        <p class="lead"><strong><span class="stepno">1</span> Breakpoint / Filename</strong></p>
        {{> settingform}}
    </div>
    <div class="col-md-6">
        <p class="lead"><strong><span class="stepno">2</span> Batch upload</strong></p>
        {{> uploadform}}
    </div>
</div>
<hr>